@model TodoApp.Models.LoginUser
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-6 offset-3 mt-5 mb-5">
        <div class="card p-5">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <form asp-action="LoginUser" asp-controller="Home" method="POST">
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="email" placeholder="Email"></span>
                </div>
                <input asp-for="email" class="form-control">
            </div>
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="password"></span>
                </div>
                <input asp-for="password" class="form-control" placeholder="Password">
            </div>
            <input type="submit" value="Login" class="btn btn-success btn-round">
        </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-3">
        <p class="lead text-center">Need to register instead? <a asp-action="Register" asp-controller="Home" asp-area="" class="btn btn-round btn-info">Register</a></p>
    </div>
</div>