body {
    padding-top: 50px;
    padding-bottom: 20px;
}

div.list-group {
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

form input[type="submit"] {
    display: block;
    margin: 0 auto;
}
form input,
form textarea {
    box-shadow: 4px 4px 6px rgba(50,50,50,0.5) !important;
    -webkit-box-shadow: 4px 4px 6px rgba(50,50,50,0.5) !important;
    -moz-box-shadow: 4px 4px 6px rgba(50,50,50,0.5) !important;
    -ms-box-shadow: 4px 4px 6px rgba(50,50,50,0.5) !important;
    -o-box-shadow: 4px 4px 6px rgba(50,50,50,0.5) !important;
}
